.btn {
  display: block;
  padding: 10px;
  width: 250px;
  margin: 0.5em auto 0 auto;
  text-align: center;
  text-decoration: none;
}
.btn-start {
  border: 2px solid var(--app-secondary-color);
  color: var(--app-secondary-color);
  font-size: 1.3em;
  font-weight: 100;
  letter-spacing: 2px;
}
.btn-start:hover,
.btn-start:active,
.btn-start:target,
.btn-start:visited {
  background-color: var(--app-secondary-color-hover);
}

.btn-learn {
  border: 2px solid var(--app-secondary-color);
  color: var(--app-secondary-color);
  font-size: 1em;
  font-weight: 100;
  letter-spacing: 2px;
}
.btn-learn:hover,
.btn-learn:active,
.btn-learn:target,
.btn-learn:visited {
  background-color: var(--app-secondary-color-hover);
}
